body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #0056b3;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

.card {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    color: #007bff;
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
}

.qr-preview {
    margin-top: 20px;
    padding: 10px;
    border: 1px dashed #ccc;
    border-radius: 8px;
    background-color: #fff;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
}

#status {
    margin-top: 20px;
    color: #666;
}
.credencial-preview {
    margin-top: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    display: block;
    margin: 0 auto;
    width: 600px;
    height: 400px;
}
.preview-container {
    text-align: center;
    margin-top: 10px;
}

.preview-box img {
    max-width: 100%; /* La imagen no excederá el tamaño del contenedor */
    max-height: 100%; /* Ajuste dentro del alto */
    object-fit: cover; /* Rellena el cuadro respetando proporciones */
    border-radius: 8px; /* Mantener bordes redondeados si aplica */
}


.optional-buttons {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.optional-buttons button {
    margin-right: 10px;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
